<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
	<div class="container">
		<section class="footer-top  padding-y-lg">
			<div class="row">
				<aside class="col-md-4 col-12">
					<article class="mr-md-4">
						<h5 class="title">Contact us</h5>
						<p>We are building online shopping for the seeker of this system. </p>
						<ul class="list-icon">
							<li> <i class="icon fa fa-map-marker"> </i>Addis Ababa, Kotebe,02 </li>
							<li> <i class="icon fa fa-envelope"> </i> ahimedchiro27gmail.com</li>
							<li> <i class="icon fa fa-phone"> </i> (251) 972-881-578, (251) 933-755-204</li>
							<li> <i class="icon fa fa-clock"> </i>Mon-Sat 10:00pm - 7:00pm</li>
						</ul>
					</article>
				</aside>
				<aside class="col-md-4 col-12">
					<h5 class="title">Newsletter</h5>
					<p>you can  contact us  via our social media we are ready assist you and respond for you. </p>

					<form class="form-inline mb-3">
						<input type="text" placeholder="Email" class="border-0 w-auto form-control" name="">
						<button class="btn ml-2 btn-warning"> Subscribe</button>
					</form>

					<p class="text-black-50 mb-2">Follow us on social media</p>
					<div>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-twitter"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>
						<a href="#" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>
					</div>

				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->
           <hr>
		<section class="footer-bottom text-center">
			<p class="text-black">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
			<p class="text-muted"> &copy 2024 Company name, All rights reserved </p>
			<br>
	</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>
</body>
</html>